@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{

}

.topContainer{
width: 100%;
height: 100%;
position: absolute;
background-image: url("image/gst1.png");
background-repeat: no-repeat;
background-size: cover;
scroll-behavior: smooth;
text-align: center;
font-family: 'Raleway', sans-serif;
color: white;

}
 .nav-link {
    color: white;
}
.navbar-brand{
  color: white;
}
.topContainer h1{
  font-size: 50px;
}
.colorOverlay{
  width: 100%;
  height: 100%;
  background:#000;
  opacity: 0.6;
  position: absolute;
}
